<div class="box-info">
  <h2 class="box-info-title">プロフィール</h2>

    <div style="text-align: center;">
      <%= attachment_image_tag reviewer, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
    </div>
    <div style="text-align: center;">
        <strong><%= reviewer.last_name %></strong>
    </div>

  <!-- ボタン -->
    <div class="box-button">
      <p>
        <%= link_to "", edit_reviewer_path(reviewer), class: "glyphicon glyphicon-wrench btn btn-default btn-block" %>
      </p>

      <p>
        <%= link_to "投稿する", new_review_path, class: "btn btn-primary btn-block" %>
      </p>
    </div>
</div>