<div class="top-box-ab">
  <h1>ようこそ「YoungBookers」へ！</h1><br>
    <h3>若者よ、好きな本をシェアしてみませんか？</h3><br>
      <p>活字離れが深刻化しているなか、現代の日本は本を読む人が少なくなってきました。</p><br>
      <p>特にSNSが普及して、短い文章しか読まなくなった若者は、本を読む習慣が希薄化しています。</p><br>
      <p>そこで、本を読む機会を少しでも増えて、少しでも本を読む楽しさをシェアできればと願い、</p><br>
      <P>「YoungBookers」を作成しました。</P><br>
      <p>ぜひ、みんなで好きな本をシェアしてみませんか？</p>
</div>