/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top :80px;
  background-color: #FFFDE7;
  background-size: 80px 80px;
  background-image:
  linear-gradient(rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
  linear-gradient(90deg, rgba(215,204,200,.7) 1%, rgba(215,204,200,.7) 1%, transparent 1%,
  transparent 99%, rgba(215,204,200,.7) 99%, rgba(215,204,200,.7) 100%),
  linear-gradient(transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%),
  linear-gradient(90deg, transparent, transparent 25%, rgba(215,204,200,.4) 25%, rgba(215,204,200,.4) 26%, transparent 26%,
  transparent 50%, rgba(215,204,200,.4) 50%, rgba(215,204,200,.4) 51%, transparent 51%,
  transparent 75%, rgba(215,204,200,.4) 75%, rgba(215,204,200,.4) 76%, transparent 76%, transparent 100%);
}

header {
  padding : 8px;
  margin: 0 18px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
  border-radius: 100px;
}

.box-info {
  margin: 2em 0;
  background: #dcefff;
}

.box-info .box-info-title {
  font-size: 1.5em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.box-info div {
  padding: 5px 10px;
  margin: 0;
}

.box-button {
	padding: 1px;
}

.box-rank{
  margin:2em 0;
  position: relative;
  padding: 0.25em 1em;
  border: solid 2px #008800;
  border-radius: 3px 0 3px 0;
  background-color: #E9FFA5;
}

.box-rank:before,.box-rank:after {
  content: '';
  position: absolute;
  width:10px;
  height: 10px;
  border: solid 2px #008800;
  border-radius: 50%;
}

.box-rank:after {
  top:-12px;
  left:-12px;
}

.box-rank:before {
  bottom:-12px;
  right:-12px;
}

.box-rank p {
  margin: 14px;
  padding: 0;
}

.wrapper{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}

footer{
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.top-box-ab {
  text-align:center;
}

.top-box {
  text-align:center;
}

.top-box p {
  font-size: 3em;
  color: #FFF;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.navbar-brand {
  background-image: url(logo.jpg);
  background-size: contain;
  height: 50px;
  width: 50px;
}

.top-img {
  background-image: url(book-863418_1920.jpg);
  background-size: cover;
  height: 600px;
  width: 1000px;
  margin : 0 auto;
}

.box-myr {
  background-color: #FFFFCC;
  border-radius: 10px;
  margin-top : 50px;
  border: solid 2px #ffcb8a;
}

.t-myr {
  border-bottom: solid 5px #000;
}

.box-up {
  margin-top : 170px;
}

.box-up-p {
  margin : 10px 0;
}

.up-btn {
  padding: 0 80px;
}

#review_book_review {
  height: 150px;
}

.m-b-tr {
  margin-top : 12px;
  font-size: 1.5em;
}

.rev-t {
  text-align: center;
}

.r-b-s {
  text-align: center;
  margin-top : 20px;
}

.r-b-s-box {
  margin-top : 30px;
  padding: 18px 0 ;
  border: solid 2px #ffcb8a;
  border-radius: 10px;
  background-color: #FFFFCC;
}

.r-b-s-name {
  font-size: 1.5em;
}

.r-b-s-box-tr {
  border: solid 1px black;
  background-color: white;
  width: 50%;
  margin : 0 auto;
}

.r-b-s-box-ed {
  margin : 10px 0;
}

.glyphicon-heart {
  color:red;
}

.center-t {
  text-align: center;
  margin-bottom: 30px;
}

.box-reviewer {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #474747;
  background: #FFFFCC;
  border-left: double 7px #ffcb8a;
  border-right: double 7px #ffcb8a;
}

.table > tbody > tr > th {
  border-top:3px solid black;
  border-bottom:3px solid black;
}