<h2>User info</h2>
<div>
 <%= attachment_image_tag current_reviewer, :profile_image, :fill, 60, 60 %>
</div>

<table class="table" width="600" cellspacing="0" cellpadding="5">
<tr>
<th><font size=3px>name</font></th>
<th width="300"><font size=3px><%= current_reviewer.last_name %></font></th>
</tr>

    <p>
    <%= link_to "", edit_reviewer_path(current_reviewer), class: "glyphicon glyphicon-wrench btn btn-default btn-block" %>
    </p>