<h2>プロフィール</h2>

 <div>
  <%= attachment_image_tag current_reviewer, :profile_image, :fill, 60, 60 %>
 </div>
 <div>
  <spam>名前</spam>
  <%= current_reviewer.last_name %>
 </div>

 <p>
  <%= link_to "", edit_reviewer_path(current_reviewer), class: "glyphicon glyphicon-wrench btn btn-default btn-block" %>
 </p>