<div class="box-rank">
<h2 style="text-align: center;">ランキング</h2>
  <p style="text-align: center;">
    <% all_ranks.each.with_index(1) do |f, i| %>
    第
    <%= i %>
    位
    <%= f.title %><br>
    <% end %>
  </p>
</div>